@model IEnumerable<CadeMeuMedico.Models.Cidades>

@{
    ViewBag.Title = "Cidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cidades</h2>

<p>
    @Html.ActionLink(" Adicionar", "Adicionar", null, new { @class = "btn btn-primary btn-lg fa fa-plus-square" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id = item.IDCidade }, new { @class = "btn btn-info fa fa-pencil", @title = "Alterar" })
                    @Html.ActionLink(" ", "Excluir", new { id = item.IDCidade }, new { @class = "excluir btn btn-info fa fa-trash", @title = "Excluir" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(function () {
            var linhaAtual;
            $("#menuCidades").addClass("active");
            $(".excluir").on("click", function () {
                if (confirm("Confirma a exclusão da cidade?")) {
                    var urlExclusao = $(this).attr("href");
                    linhaAtual = $(this).closest("tr");
                    $.ajax({
                        url: urlExclusao,
                        type: "POST"
                    }).done(function (excluiu) {
                        if (excluiu) {
                            linhaAtual.remove();
                        } else {
                            alert("Ocorreu algum problema na exclusão da cidade.");
                        }
                    }).fail(function () {
                        alert("Ocorreu algum erro");
                    });
                }
                return false;
            });
        });
    </script>
}
